@model Znaniya.Domain.Entities.Book
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string strTitle = "Книга";
    ViewBag.Title = strTitle;
}
<script src="https://cdn.tiny.cloud/1/mogg3nommg6ahev8n1pzycidh0imoobmmzxzhycge1bub6oq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<h1>Книга</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="Books" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookID"/>
            <input asp-for="ShelfID" type="hidden" value="@Model.ShelfID"/>
            <input asp-for="DateAdded" type="hidden"  class="form-control" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubText" class="control-label"></label>
                <input asp-for="SubText" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary get-editor-data" />
            </div>
        </form>
    </div>
</div>

  <script>
    tinymce.init({
      selector: '#Text',
       plugins:
          "emoticons | code | link image code | lists advlist | autosave | fullscreen",
        toolbar:
          "restoredraft | undo redo | styleselect | bold italic | code | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolory | outdent indent | emoticons | fullscreen",
      
    });
  </script>