@model Znaniya.Domain.Entities.AllPositions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string strTitle = "Полка";
    ViewBag.Title = strTitle;
}

<div>@Html.Raw(Model.Shelf.Text)</div>

<div>
    <h3>Книги</h3>

    <br />
     @if (User.Identity.IsAuthenticated)
    {
       <div class="div-box">
        <a asp-area="Admin" asp-controller="Books" asp-action="Add" asp-route-id="@Model!.Shelf!.ShelfID">Добавить книгу</a>
            
    </div>
    }
    
    <br />
    @if (Model.Books!.Any())
    {
        <div>
            @foreach (Znaniya.Domain.Entities.Book entity in Model!.Books!)
            {
                <div class="box">
                    <article>
			        <h3>@entity.Title</h3>
			        <p>@entity.Text</p>
			        <ul class="actions">
				        <li><a asp-controller="Books" asp-action="Index" asp-route-id="@entity.BookID" class="button">Больше</a></li>
			        </ul>
		        </article>
                </div>
            }
        </div>
    }
</div>

