<!DOCTYPE HTML>

<html>
	<head>
		@await Html.PartialAsync("MetatagsPartical")
		@await Html.PartialAsync("CssPartical")
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								@await Html.PartialAsync("HeaderPartical")

							<!-- Banner -->
								@await Html.PartialAsync("BannerPartical")

							<!-- Section -->
								@await Html.PartialAsync("PostsPartical")
						</div>
					</div>

				<!-- Sidebar -->
					@await Html.PartialAsync("SidebarPartical")

			</div>

		<!-- Scripts -->
			@await Html.PartialAsync("ScripsPatrical")

	</body>
</html>