<section id="banner">
	<div class="content">
		<header>
			<h1>Добро пожаловать<br />
				В БРСК-Знания</h1>
			<p>Здесь вы сможете найти часто задаваемые вопросы</p>
		</header>
		<p>Здесь представленные все возможные вопросы по нашим системам</p>
		<ul class="actions">
		<li><a href="#" class="button big">Читать</a></li>
		</ul>
	</div>
	<span class="image object">
		<img src="images/logo-Title.jpg" alt="" />
	</span>
</section>