<div id="sidebar">
	<div class="inner">

		<!-- Search -->
			<section id="search" class="alt">
				<form method="post" action="#">
					<input type="text" name="query" id="query" placeholder="Поиск" />
				</form>
			</section>

		<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Меню</h2>
				</header>
				<ul>
					<li><a href="index.html">Главная</a></li>
					<li>
						<span class="opener">Полки</span>
						<ul>
							<li><a href="#">Call-Центр</a></li>
							<li><a href="#">ИС СКБ</a></li>
							<li><a href="#">Словарь-справочник</a></li>
							
						</ul>
					</li>
					<li>
						<span class="opener">Книги</span>
						<ul>
							<li><a href="#">Единая транспортная карта</a></li>
							<li><a href="#">ЖКХ</a></li>
							<li><a href="#">Образование</a></li>
							
						</ul>
					</li>
					<li><a href="#">Вход</a></li>
					
				</ul>
			</nav>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>Популярные книги</h2>
				</header>
				<div class="mini-posts">
					<article>
						<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
						<p>ЖКХ</p>
					</article>
					<article>
						<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
						<p>Образование</p>
					</article>
					<article>
						<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
						<p>Единая транспортная карта "Алга"</p>
					</article>
				</div>
				<ul class="actions">
					<li><a href="#" class="button">Читать</a></li>
				</ul>
			</section>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>База знаний БРСК</h2>
				</header>
				<ul class="contact">
					<li class="icon solid fa-envelope"><a href="#">mail@brsc.ru</a></li>
					<li class="icon solid fa-phone">+7 (347) 276-91-69</li>
					<li class="icon solid fa-home">ул. Цюрупы д.40<br />
					Уфа, Республика Башкортостан</li>
				</ul>
			</section>

		<!-- Footer -->
			@await Html.PartialAsync("FooterPartical")
	</div>
</div>
