@model IQueryable<Znaniya.Domain.Entities.Shelf>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string strTitle = "Полка";
    ViewBag.Title = strTitle;
}

<div>
    <h3>Полки</h3>
        <br />
        <div class="div-box">
            <a asp-area="Admin" asp-controller="Shelfs" asp-action="Edit" asp-route-id="">Добавить полку</a>
        </div>
        <br />
        @if (Model!.Any())
        {
            <div>
                @foreach (Znaniya.Domain.Entities.Shelf entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Shelfs" asp-action="Edit" asp-route-id="@entity.ShelfID">редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.ShelfID" asp-area="Admin" asp-controller="Shelfs" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.ShelfID">
                            <a href="#" onclick="document.getElementById('form-@entity.ShelfID').submit();">удалить</a>
                        </form>
                        |
                        <a asp-area="Admin" asp-controller="Shelfs" asp-action="Details" asp-route-id="@entity.ShelfID">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>