@model Znaniya.Domain.Entities.AllPositions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string strTitle = "Глава";
    ViewBag.Title = strTitle;
}
<h2>@Model!.Chapter.Title</h2><br />
<div>@Html.Raw(Model!.Chapter.Text)</div>

<div>
    <h3>Страницы</h3>

    <br />
     @if (User!.Identity!.IsAuthenticated)
    {
       <div class="div-box">
        <a asp-area="Admin" asp-controller="Pages" asp-action="Add" asp-route-id="@Model!.Chapter!.BookID">Добавить книгу</a>
    </div>
    }
    
    <br />
    @if (Model.Pages!.Any())
    {
        <div>
            @foreach (Znaniya.Domain.Entities.Page entity in Model!.Pages!)
            {
                <div class="box">
                    <article>
			        <h3>@entity.Title</h3>
			        <p>@entity.SubText</p>
			        <ul class="actions">
				        <li><a asp-controller="Pages" asp-action="Details" asp-route-id="@entity.PageID" class="button">Больше</a></li>
			        </ul>
		        </article>
                </div>
            }
        </div>
    }
</div>

